.cls_dash_container{
    color: white;
}
.cls_dash_btn{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.thead{
  background-color: #696666;
  color: #FFF;
}

/* Stores Table CSS */

.cls_store_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cls_store_left{
    display: flex;
    gap: 2%;
    width: 50%;
  }
  .cls_store_right{
    display: flex;
    gap: 2%;
    width: 50%;
    justify-content: flex-end;
  }
  .cls_store_label{
    font-size: 18px;
    font-weight: 700;
    color: #000;
  }
  .cls_store_btn{
    border: 1px solid #d1d1d1;
      background-color: #FFF;
      color: #000;
      padding: 9px 16px;
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 3px;
  }
  .cls_store_btn:hover{
    background-color: orangered;
    color: #FFF;
  }
  .cls_store_container1{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 5px;
    margin: 18px 0px;
    width: 100%;
  }
  .cls_store_cont{
    display: flex;
    justify-content: space-between;
    padding: 22px 2%;
  }
  .cls_store_input{
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 11px;
    font-size: 13px;
    font-weight: 600;
    width: 70%;
  }
  .cls_store_select{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 4px 11px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }
  .cls_store_btn1{
    border: 0px;
    background-color: #F4F4F4;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
  }
  .cls_table_label{
    width: 90%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    color: #a38b8b;
  }
  .cls_store_table td:last-child{
    color: #a38b8b;
  }
  .cls_store_table{
    display: block;
  }
  .cls_store_table table{
    border-spacing: 0;
    table-layout: fixed;
  }
  .cls_store_table th{
    border-left: 0px solid #C4C4C4;
      border-right: 0px solid #C4C4C4;
      border-bottom: 1px solid #C4C4C4 !important;
      padding: 18px 6px;
      position: sticky;
      top: 0;
      color: #564b4b;
      font-family: Montserrat;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      z-index: 10;
      text-align: left;
  }
  .cls_store_table td{
    border-left: 0px solid #C4C4C4;
      border-right: 0px solid #C4C4C4;
      border-bottom: 1px solid #C4C4C4;
      padding: 12px 6px;
      color: #131322;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      text-align: left;
  }
  
  .cls_store_table td:last-child,.cls_store_table th:last-child{
    padding-right: 22px !important;
  }
  .cls_store_table td:first-child,.cls_store_table th:first-child{
    padding-left: 22px !important;
  }